{{extend '../layout/common-admin.html'}}
{{block 'content'}}
  <!-- 列表 -->
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <ul class="list-group">
      <a class="list-group-item">
        <span class="badge">2019-10-10 12:20</span>
        Git服务器的搭建
      </a>
      <a class="list-group-item">
        <span class="badge">2019-10-10 12:20</span>
        Git服务器的搭建
      </a>
      <a class="list-group-item">
        <span class="badge">2019-10-10 12:20</span>
        Git服务器的搭建
      </a>
      <a class="list-group-item">
        <span class="badge">2019-10-10 12:20</span>
        Git服务器的搭建
      </a>
    </ul>
  </div>
  
  <!-- 分类 -->
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    分类
  </div>
  
  
{{/block}}
