{{extend './layout/common.html'}}
{{block 'content'}}
  <!-- main list -->
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <!-- top news -->
        <div class="jumbotron">
            <div class="container">
                <h1>头条日志</h1>
                <p>头条日志简介 ...</p>
                <p>
                <a class="btn btn-info" href="#" role="button">Link</a>
                </p>
            </div>
        </div>
        
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        <div class="panel panel-default news-box">
            <div class="panel-heading">webpack4配置详解 <span class="pull-right">2019-05-10 12:00</span></div>
            <div class="panel-body">
                    use 里面的loader 解析模块其实都是一个npm的包
                    <br>
                    use 还可以使用 多个 loader 进行处理 （类似流水线上处理，前一个loader处理的结果进入下一个loader的入口）
            </div>
        </div>
        
    </div>
    <!-- sidebar -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <!-- category -->
        <div class="list-group">
            <a class="list-group-item">编程<span class="badge">14</span></a>
            <a class="list-group-item">数据库</a>
            <a class="list-group-item">服务器</a>
            <a class="list-group-item">版本控制</a>
            <a class="list-group-item">网络安全</a>
            <a class="list-group-item">算法</a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">统计</div>
            <div class="panel-body">
                <p>日志总数: <span>10</span></p>
            </div>
        </div>
    </div>
{{/block}}
